<div id="myCarousel" class="carousel my-carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/ruralcloud.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Learn to code.</h1>
          <p class="lead">Use your competative edge to become a 1337 coder like this guy ---></p>
          <a class="btn btn-large btn-primary" href="/register">Register today</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="../assets/planes.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Easy to use interface.</h1>
          <p class="lead">Just like using a destop with an advanced text editor, console and specification viewer. It's definately easier than flying one of these.</p>
          <a class="btn btn-large btn-primary" href="/register">Register today</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="../assets/lego.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Haskell is awesome.</h1>
          <p class="lead">Haskell allows functional programming, it all slots together like LEGO Bricks!</p>
          <a class="btn btn-large btn-primary" href="/register">Register today</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <h2>World Class editor</h2>
      <p>Syntax highligting, undo, multiple themes and more means you won't miss Sublime one bit. We promise.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Live console</h2>
      <p>See how your code is currently fairing with a interactive console with history.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <h2>Compile on a whim</h2>
      <p>Hit the blue button when you want, and get detailed error messages back, or if you're Charlie, never get any.</p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="../assets/owen.jpg">
    <h2 class="featurette-heading">Owen Davies <span class="muted">Web development God</span></h2>
    <p class="lead">He's tall. He's from Wales. He's gonna develop the hell out of this website.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="/assets/dan.jpg">
    <h2 class="featurette-heading">Daniel Hertz <span class="muted">Constant questioner</span></h2>
    <p class="lead">Is it the best idea to put profiles on the front page? We should do some A|B testing</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="../assets/charlie.jpg">
    <h2 class="featurette-heading">Charlie Hothersall-Thomas <span class="muted">Coder guy.</span></h2>
    <p class="lead">Barely seen as he is knee deep in C++, there is not much to write here</p>
  </div>

  <hr class="featurette-divider">

<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>