<div id="myCarousel" class="carousel my-carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/code.png" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Learn to code.</h1>
          <p class="lead">Use your competative edge to become a great coder.</p>
          <a class="btn btn-large btn-primary" href="/register">Register today</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="../assets/.png" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Rank yourself</h1>
          <p class="lead">Up to the minute leaderboards with multiple statistics.</p>
          <a class="btn btn-large btn-primary" href="/register">Register today</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="../assets/haskell.png" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Haskell is awesome.</h1>
          <p class="lead">Haskell allows functional programming, a different sort of language.</p>
          <a class="btn btn-large btn-primary" href="/register">Register today</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img src="../assets/planes.png" alt="">
      <h2>World Class editor</h2>
      <p>Syntax highligting, undo, multiple themes and more means you won't miss Sublime one bit. We promise.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <div class='console'>$>.</div>
      <h2>Live console</h2>
      <p>See how your code is currently fairing with a interactive console with history.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <div class="compile">Compiling...<br />Sucess!</div>
      <h2>Compile on a whim</h2>
      <p>Hit the blue button when you want, and get detailed error messages back, or if you're Charlie, never get any.</p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="../assets/ruralcloud.png">
    <h2 class="featurette-heading">Competition interface<br><span class="muted">Clean. Easy.</span></h2>
    <p class="lead">Get straight to it with all you need on one screen.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="../assets/lego.png">
    <h2 class="featurette-heading">Admin. <span class="muted">Admax.</span></h2>
    <p class="lead">Data at your fingertips. See how your challenge is being completed, live.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="">
    <h2 class="featurette-heading">Auto testing. <span class="muted">Auto marking.</span></h2>
    <p class="lead">Let the machines do the work, run scripts with expected answers.</p>
  </div>

  <hr class="featurette-divider">

<script>
  !function ($) {
    $(function(){
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>