<div class="hero-unit center">
  <h1>Internal Server Error <small><font face="Tahoma" color="red">Error 500</font></small></h1>
  <br />
  <p>This shouldn't have happened!</p>
  <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Home</a>
</div>
<br />
