<div class="fields well well-small">
  <%= f.link_to_remove(:class => "btn pull-right") do %>
    <i class="icon-remove"></i>
  <% end %>
  <p>
    <%= f.text_field :input, :placeholder => "Input" %>
  </p>
  <%= f.fields_for :outputs %>
  <%= f.link_to_add(:outputs, :class => "btn") do %>
    <i class="icon-plus"></i>
  <% end %>
</div>
