<div class="fields">
  <div class="input-append">
    <%= f.text_field :test_output, :placeholder => "Output" %>
    <%= f.link_to_remove(:class => "btn") do %>
      <i class="icon-remove"></i>
    <% end %>
  </div>
</div>
