<% if user_signed_in?
    if current_user.try(:admin?) && @challenge.owner == current_user.email %>
        <h1>Editing challenge</h1>

        <% if has_started(@challenge) %>
            <p>You cannot edit this challenge, it has already started</p>
        <% else %>
            <%= render 'form' %>

            <%= link_to 'Show', @challenge %> |
            <%= link_to 'Back', challenges_path %>
        <% end %>
    <% else %>
        <p>You're not the owner of this challenge!</p>
    <% end
end %>
