<% if user_signed_in?
    if current_user.try(:admin?) && @challenge.owner == current_user.email %>
        <h1>Editing challenge</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @challenge %> |
        <%= link_to 'Back', challenges_path %>
    <% end
end %>
