<h2>Available Challenges</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Difficulty</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Entrants</th>
      <th>Owner</th>
      <th></th>
      <% if current_user.try(:admin?) %>
          <th></th>
          <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'pending_challenge_row', collection: @not_started, as: :challenge %>
  </tbody>
</table>


<h4>Currently Running Challenges</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Difficulty</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Entrants</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'started_challenge_row', collection: @running, as: :challenge %>
  </tbody>

</table>
