<% content_for :title, "Create Challenge" %>
<% if current_user.try(:admin?) %>
    <h1>Create a Challenge</h1>
    <p>Create a new coding challenge for people to participate in!</p>
    <%= render 'form' %>
<% else %>
    <p>You're not an admin, you can't create challenges!</p>
<% end %>
