/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require codemirror
 */

@import 'bootstrap';

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#wrap > .container {
    padding-top: 60px;
    padding-bottom: 20px;
}

#push, #footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

.codewrapper {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

#editor, #console {
    width: 100%;
    resize: none;
    font-family: inherit;
}

.avatar {
    margin-top: 6px;
}

.notice {
    text-align: center;
}

.info {
    text-align: center;
    width: 200px;
    margin: 0 auto 40px auto;
}

#start-countdown {
    padding: 2px 0;
}

.log {
    height: 400px;
    overflow: auto;
}

@import 'bootstrap-responsive';
